@model Blog_final_project.Models.DetailsRoleViewModel

@{
	ViewData["Title"] = "DetailsRole";
}

<div class="show-role">
    <div>
        <h3 class="center">@Model.Name</h3>
    </div>

    <div>
        @Model.Description
    </div>
</div>

<div>
    <a class="page_role"
       asp-area=""
       asp-controller="Roles"
       asp-action="Index">
       Перейти к списку всех ролей
   </a>
</div>