@model Blog_final_project.Models.ArticleViewModel

@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <h3 class="display-4">Все статьи</h3>

    <div>
        @foreach (var article in Model.Articles)
        {
            <a asp-controller="Articles"
               asp-action="Details"
               asp-route-id="@article.Id">
                @article.Title
            </a>
        }
    </div>

    <div>
        <a class="create_article"
           asp-area=""
           asp-controller="Articles"
           asp-action="Create">
            Добавить статью
        </a>
    </div>

</div>
