<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<!-- Лог обычных действий -->
		<target xsi:type="File"
				name="infoLog"
				fileName="logs/app-info.log"
				layout="${longdate}|${level}|${message}" />

		<!-- Лог ошибок -->
		<target xsi:type="File"
				name="errorLog"
				fileName="logs/app-error.log"
				layout="${longdate}|${level}|${message}|${exception}" />

	</targets>

	<rules>

		<!-- INFO и выше -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoLog" />

		<!-- ERROR и выше -->
		<logger name="*" minlevel="Error" writeTo="errorLog" />

	</rules>

</nlog>